<h1>New Volunteer</h1>

    First Name: <input type="text" name="First Name">
    <br/>
    Last Name: <input type="text" name="Last Name">
    <br/>
    Phone Number: <input type="text" name="Phone">
    <br/>
    Email: <input type="text" name="Email">
    <br/>
    City: <input type="text" name="City">
    <br/>
    State: <input type="text" name="State">
    <br/>
    Major: <input type="text" name="Major">
    <br/>
    Language <input type="text" name="Language">
    <br/>
    Previous EWB Experience <input type="text" name="previous_ewb_exp">
    <br/>
    Previous International Experience <input type="text" name="previous_int_exp">
    <br/>
    Previous Work Experience <input type="text" name="previous_work_exp">
    <br/>
    Reason <input type="text" name="Reason">
    <br/>
<%= render 'form' %>

    
<%= link_to 'Back', volunteers_path %>
