<h1>New Volunteer</h1>

    First Name: <input type="text" name="first_name">
    <br/>
    Last Name: <input type="text" name="last_name">
    <br/>
    Phone Number: <input type="text" name="Phone">
    <br/>
    Email: <input type="text" name="Email">
    <br/>
    City: <input type="text" name="City">
    <br/>

<%= render 'form' %>

    
<%= link_to 'Back', volunteers_path %>
