<%= stylesheet_link_tag "multi-select" %>
<%= javascript_include_tag "multi-select" %>

<div>
  <h2 class="text-center">Editing Volunteers on [PROJECT_NAME]</h2>
</div>

<select multiple="multiple" id="my-select" name="my-select[]">
  <option id="1" value='elem_1'>elem 1</option>
  <option id="2" value='elem_2'>elem 2</option>
</select>
