<div class="field">
  <%= f.attribute_fields do |a| %>
    <% a.attribute_select associations: [:role, :skills,
					 :certifications,
					 :construction_experiences,
					 :design_experiences] %>
  <% end %>
  contains
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>
  <%= link_to "remove", '#', class:"remove_fields" %>
</div>
<br>


