<div class="row section">
	<div class="col-md-12 section">
        <h2 class="text-center">Edit Your Profile</h2>
        <p></p><br>
        <div class="row text-right">
            <div class ="col-md-10 text-right">
                <%= link_to 'Show Profile', @user, class:"btn btn-md sqs-block-btn btn-black"  %> |
                <%= link_to 'Home', root_path, class:"btn btn-md sqs-block-btn btn-black" %>
            </div>
        </div>
        <%= render 'form' %>
        
    </div>
</div>