<div class="row section">
	<div class="col-md-12 section">
        <h2 class="text-center">Edit Your Profile</h2>
        <p></p>
        
        <%= render 'form' %>
        
        <%= link_to 'Show Profile', @user  %> |
        <%= link_to 'Home', root_path %>
    </div>
</div>