<h3>Welcome to the Engineers Without Borders SF Volunteer System!</h3>

<p>
If you would like to register as a volunteer, please click below!
<p>

<%= link_to "Sign up now!", new_user_path, class: "btn btn-md btn-primary" %>