@import "bootstrap-sprockets";
@import "bootstrap";


@font-face {
    font-family: proximanova;
    src: url('proximanova.ttf');
	font-weight: normal;
    font-style: normal;
}

body {
  font-family: proximanova;
  font-size: 13px;
  line-height: 13px;
}

p, ol, ul, td {
  font-family: proximanova, verdana;
  font-size: 13px;
  line-height: 13px;
}

#navbar-ewb {
  border-radius: 0px;
  background-color: #ededed;
  letter-spacing: 1px;
  text-transform: uppercase
}


.debugger {
	padding-top: 50px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


