// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-form {
	font-size: 16px;
}

.user-form p{
	font-size: 16px;
}

.user-form .form-control{
	width: 50%;
	font-size: 15px;
}

.user-form input[type="checkbox"] {
	margin-left: 0px;
	margin-top: 0px;
}

.user-form span {
	margin-left: 20px;
}

.user-form-label {
	margin-bottom: 10px;
}

.user-form-box {
	margin-top: 20px;
	margin-bottom: 20px;
}