// Place all the styles related to the volunteer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-dark-grey {
	color: rgba(26,26,26,.8);
}

.new-volunteer-form-row {
	margin-bottom: 20px;	
}

.new-volunteer-form-textfield {
	margin-top: 5px;
	font-size: 16px;
}

.new-volunteer-page-promo {
	margin-bottom: 30px;
}

#get-involved {
	margin-bottom: 20px;
}

#new-volunteer-form label{
	font-size: 16px;
	color: rgba(26,26,26,.8)	
}

#new-volunteer-form body{
	color: rgba(26,26,26,.9);	
}
